---
---

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  padding: 12px;
  line-height: var(--spacing);
  box-shadow: var(--shadow);
  font-size: 0.75rem;
}

footer a {
  color: var(--text) !important;
}

footer a:hover {
  color: var(--primary) !important;
}

footer .button[data-style="bare"] {
  margin: 0 2px;
  padding: 2px;
}

footer .icon {
  font-size: 0.75rem;
}
